{% extends 'base.html' %}

{% set username = session['name'] %}
{% set userId = session['userId'] %}

{% block body %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1>Ласкаво просимо, {{ username }}!</h1>
        <h3>Надіюсь, вам тут буде затишно</h3>
        <h3>(ваш унікальний id - {{ userId }})</h3>

        <form id="logoutButton" action={{ url_for('logout') }}>
            <input class="btn btn-primary btn-xl" type="submit" value="Вийти" />
        </form>
    </div>
</header>
<section class="page-section" id="add_cookie">
    <!-- Section Heading-->
    <h2 class="page-section-heading text-center text-primary mb-0">Додати кукі</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <form id="contactForm" action="/add_cookie" method="POST">
                <div class="form-floating mb-3">
                    <input class="form-control" 
                            id="key" 
                            type="text"
                            name="key"
                    <label for="name">Ключ</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" 
                            id="value" 
                            type="text"
                            name="value"
                    <label for="password">Значення</label>
                </div>        
                <div class="form-floating mb-3">
                    <input class="form-control" 
                            id="max_age" 
                            type="number"
                            name="max_age" required
                    <label for="password">Тривалість (в сек.)</label>
                </div>                    
                <!-- Submit Button-->
                <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Створити</button>
            </form>
        </div>
    </div>
</section>
<section class="page-section" id="delete_cookie">
    <!-- Section Heading-->
    <h2 class="page-section-heading text-center text-primary mb-0">Видалити кукі</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <form id="contactForm" action="/remove_cookie" method="GET">
                <div class="form-floating mb-3">
                    <input class="form-control" 
                            id="key_to_remove" 
                            type="text"
                            name="key"
                    <label for="name">Ключ</label>
                </div>
                <!-- Submit Button-->
                <button class="btn btn-secondary btn-xl" id="submitButton" type="submit">Знищити</button>
            </form>
        </div>
    </div>
</section>
<section class="page-section" id="delete_cookie">
    <!-- Section Heading-->
    <h2 class="page-section-heading text-center text-primary mb-0">Видалити всі кукі</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <form id="contactForm" action="/remove_all_cookies" method="GET">
                <button class="btn btn-danger btn-xl" id="submitButton" type="submit">Знищити</button>
            </form>
        </div>
    </div>
</section>
<section class="page-section" id="cookie_table">
    <!-- Section Heading-->
    <h2 class="page-section-heading text-center text-primary mb-0">Таблиця кукі</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row">
        <div class="container col-md-6 col-lg-6">
            <table class="table table-secondary">
                <thead class="table-primary">
                    <tr class = "cookiesTable">
                        <th class = "cookiesTable">Key</th>
                        <th class = "cookiesTable">Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in cookies.items() %}
                        <tr class = "cookiesTable">
                            <td class = "cookiesTable">{{ key }}</td>
                            <td class = "cookiesTable">{{ value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="page-section" id="delete_cookie">
    <!-- Section Heading-->
    <h2 class="page-section-heading text-center text-primary mb-0">Змінити пароль</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <form id="contactForm" action="/change_password" method="POST">
                <div class="form-floating mb-3">
                    <input class="form-control" 
                            id="new_password" 
                            type="password"
                            name="new_password"
                    <label for="name">Новий пароль</label>
                </div>
                <!-- Submit Button-->
                <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Змінити</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}