{% extends 'base.html' %}
{% block title %} Відгуки {% endblock %}

{% block body %}
<section class="page-section" id="todo_table">
    <!-- Section Heading-->
    <h2 class="page-section-heading text-center text-primary mb-0">Відгуки</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row justify-content-center">

    </div>
</section>
<section>
    <div class="row justify-content-center">   
     
    </div>
</section>
{% endblock %}